<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appcoins.wallet.billing">

  <application>
    <service
        android:name=".BillingService"
        android:exported="true">
      <intent-filter>
        <action android:name="${applicationId}.iab.action.BIND"/>
      </intent-filter>
    </service>

  </application>
</manifest>
