<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.asf.wallet">

  <uses-permission android:name="android.permission.BROADCAST_CLOSE_SYSTEM_DIALOGS"
      tools:ignore="ProtectedPermissions" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission
      android:name="android.permission.WRITE_EXTERNAL_STORAGE"
      android:maxSdkVersion="28" />
  <uses-permission android:name="android.permission.USE_BIOMETRIC" />
  <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

  <queries>
    <package android:name="com.gojek.app" />
    <package android:name="net.one97.paytm" />
    <package android:name="com.phonepe.app" />
    <package android:name="in.org.npci.upiapp" />
  </queries>

  <application
      android:name="com.asfoundation.wallet.App"
      android:allowBackup="false"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:networkSecurityConfig="@xml/network_security_config"
      android:supportsRtl="true"
      android:testOnly="false"
      android:theme="@style/MaterialAppTheme"
      tools:ignore="UnusedAttribute"
      tools:replace="android:name, android:theme, android:allowBackup">

    <meta-data
        android:name="com.google.firebase.messaging.default_notification_channel_id"
        android:value="Support notification channel" />

    <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@drawable/ic_appcoins_notification_icon" />

    <receiver
        android:name="com.asfoundation.wallet.support.AlarmManagerBroadcastReceiver"
        android:enabled="true"
        android:exported="false" />

    <activity
        android:taskAffinity=".invisible"
        android:excludeFromRecents="true"
        android:launchMode="singleTask"
        android:name="com.asfoundation.wallet.backup.BackupBroadcastReceiver"
        android:enabled="true"
        android:exported="false" />

    <receiver
        android:name="com.asfoundation.wallet.support.BootCompletedBroadcastReceiver"
        android:enabled="true"
        android:exported="false">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>

    <activity
        android:taskAffinity=".invisible"
        android:excludeFromRecents="true"
        android:launchMode="singleTask"
        android:name="com.asfoundation.wallet.support.SupportNotificationBroadcastReceiver"
        android:enabled="true"
        android:exported="false" />

    <activity
        android:name="com.asfoundation.wallet.main.MainActivity"
        android:exported="true"
        android:theme="@style/SplashTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
        android:name="com.asfoundation.wallet.ui.balance.TransactionDetailActivity"
        android:label="" />
    <activity
        android:name="com.asfoundation.wallet.ui.MyAddressActivity"
        android:label="@string/title_my_address" />
    <activity
        android:name="com.asfoundation.wallet.ui.balance.TokenDetailsActivity"
        android:label="@string/bottom_navigation_my_wallets"
        android:theme="@style/AppTheme.Transparent" />
    <activity
        android:name="com.asfoundation.wallet.transfers.TransferConfirmationActivity"
        android:label="@string/title_activity_confirmation" />
    <activity
        android:name="com.asfoundation.wallet.ui.barcode.BarcodeCaptureActivity"
        android:label="@string/title_activity_barcode" />
    <activity
        android:name="com.asfoundation.wallet.ui.GasSettingsActivity"
        android:label="@string/title_send_settings" />
    <activity
        android:name="com.asfoundation.wallet.ui.SendActivity"
        android:label="@string/title_activity_send" />
    <activity
        android:name="com.asfoundation.wallet.ui.Erc681Receiver"
        android:exported="true"
        android:theme="@style/Theme.AppCompat.Transparent.NoDisplay">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />

        <data android:scheme="ethereum" />
      </intent-filter>
    </activity>
    <activity
        android:name="com.asfoundation.wallet.ui.OneStepPaymentReceiver"
        android:exported="true"
        android:theme="@style/Theme.AppCompat.Transparent.NoDisplay">
      <intent-filter
          android:autoVerify="true"
          tools:ignore="UnusedAttribute">
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data android:scheme="https" />
        <data android:host="${legacyPaymentHost}" />
        <data android:host="${paymentHost}" />
        <data android:pathPrefix="/transaction" />
      </intent-filter>
    </activity>
    <activity
        android:name="com.asfoundation.wallet.ui.iab.WebViewActivity"
        android:theme="@style/Theme.AppCompat.Transparent.WebActivity" />
    <activity
        android:name="com.asfoundation.wallet.permissions.request.view.PermissionsActivity"
        android:exported="true"
        android:theme="@style/Theme.AppCompat.Transparent.NoFloating">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />

        <data
            android:host="wallet"
            android:path="/permissions/1"
            android:scheme="appcoins" />
      </intent-filter>
    </activity>
    <activity android:name="com.asfoundation.wallet.permissions.manage.view.ManagePermissionsActivity" />
    <activity
        android:name="com.asfoundation.wallet.change_currency.ChangeFiatCurrencyActivity"
        android:label="@string/change_currency_title" />
    <activity
        android:name="com.asfoundation.wallet.ui.iab.IabActivity"
        android:exported="true"
        android:launchMode="singleTask"
        android:theme="@style/Theme.AppCompat.Transparent.FitAppWindow">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
            android:host="${applicationId}"
            android:scheme="adyencheckout" />
      </intent-filter>
    </activity>
    <activity
        android:name="com.asfoundation.wallet.rating.RatingActivity"
        android:launchMode="singleInstance"
        android:theme="@style/Theme.AppCompat.Transparent.FitAppWindow" />
    <activity
        android:name="com.asfoundation.wallet.ui.airdrop.AirdropActivity"
        android:label="@string/title_airdrop"
        android:screenOrientation="portrait"
        tools:ignore="LockedOrientationActivity" />
    <activity android:name="com.asfoundation.wallet.ui.gamification.GamificationActivity" />
    <activity
        android:name="com.asfoundation.wallet.ui.transact.TransferActivity"
        android:label="@string/title_activity_send" />
    <activity
        android:name="com.asfoundation.wallet.topup.TopUpActivity"
        android:exported="true"
        android:label="@string/topup_title"
        android:theme="@style/TopupTheme"
        >
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
            android:host="${applicationId}"
            android:scheme="adyencheckout" />
      </intent-filter>
    </activity>
    <activity
        android:name="com.asfoundation.wallet.subscriptions.SubscriptionActivity"
        android:label="@string/subscriptions_title" />

    <activity
        android:name="com.asfoundation.wallet.referrals.InviteFriendsActivity"
        android:label="@string/referral_view_title"
        android:screenOrientation="portrait"
        tools:ignore="LockedOrientationActivity" />
    <activity
        android:name="com.asfoundation.wallet.update_required.UpdateRequiredActivity"
        android:label=""
        android:screenOrientation="portrait"
        tools:ignore="LockedOrientationActivity" />

    <activity
        android:name="com.asfoundation.wallet.ui.balance.QrCodeActivity"
        android:label=""
        android:theme="@style/AppTheme.Transparent" />

    <activity
        android:name="com.asfoundation.wallet.ui.wallets.RemoveWalletActivity"
        android:label="@string/remove_wallet_title" />

    <activity
        android:name="com.asfoundation.wallet.wallet_blocked.WalletBlockedActivity"
        android:launchMode="singleInstance"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.AppCompat.Transparent.WebActivity"
        tools:ignore="LockedOrientationActivity" />

    <activity
        android:name="com.asfoundation.wallet.backup.BackupActivity"
        android:label="@string/action_backup_wallet"
        android:theme="@style/MaterialAppTheme" />

    <activity
        android:name="com.asfoundation.wallet.recover.RecoverActivity"
        android:label="@string/import_wallet_title"
        android:theme="@style/MaterialAppTheme"
        android:windowSoftInputMode="stateHidden|adjustPan" />

    <activity
        android:name="com.asfoundation.wallet.ui.AuthenticationPromptActivity"
        android:launchMode="singleTask"
        android:theme="@style/Theme.AppCompat.Transparent.NoFloating" />

    <activity
        android:name="com.asfoundation.wallet.verification.ui.credit_card.VerificationCreditCardActivity"
        android:label="@string/verification_settings_unverified_title"
        android:windowSoftInputMode="stateHidden" />
    <activity
        android:name="com.asfoundation.wallet.verification.ui.paypal.VerificationPaypalActivity"
        android:label="@string/verification_settings_unverified_title"
        android:windowSoftInputMode="stateHidden" />
    <activity
        android:name="com.asfoundation.wallet.eskills.withdraw.WithdrawActivity"
        android:label="@string/e_skills_withdraw_title" />

    <!-- Overrides adyen manifest to force the 3ds2 activity to run on the same task as the payment-->
    <!-- The standard adyen behavior would open the 3ds2 activity in the "main" wallet task, -->
    <activity
        android:name="com.adyen.threeds2.internal.ui.activity.ChallengeActivity"
        android:exported="true"
        android:launchMode="singleTop"
        android:theme="@style/ThreeDS2Theme.Internal"
        android:windowSoftInputMode="stateHidden"
        tools:replace="launchMode">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data
            android:host="${applicationId}"
            android:scheme="adyen3ds2" />
      </intent-filter>
    </activity>

    <service
        android:name="com.asfoundation.wallet.support.SupportMessagingService"
        android:enabled="true"
        android:exported="false">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT" />
        <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
      </intent-filter>
    </service>

    <service
        android:name="com.asfoundation.wallet.transactions.PerkBonusAndGamificationService"
        android:exported="false" />

    <provider
        android:name="androidx.startup.InitializationProvider"
        android:authorities="${applicationId}.androidx-startup"
        tools:node="remove">
    </provider>
    <!--Needed to share file in android P and above -->
    <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="${applicationId}.provider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/file_provider_paths" />
    </provider>
  </application>

</manifest>