<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cm.aptoide.skills">

  <application>
    <activity
        android:name="cm.aptoide.skills.SkillsActivity"
        android:exported="true"
        android:theme="@style/Theme.AppCompat.Transparent.FitAppWindow.Eskills"
        android:label="">

      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
      </intent-filter>
    </activity>

    <service
        android:name="cm.aptoide.skills.games.BackgroundGameService"
        android:exported="false" />
  </application>

</manifest>